extend layout

block content
	div.title2
		a(href="/index")<font color="black">no</font><font color="red">IP</font><font color="black">asaran</font>	
	iframe(width="800", height="700", src="http://#{ip[0]}", sandbox="")
	iframe(width="800", height="700", src="http://#{url}", sandbox="")
	p The IP address(es) for #{url} is(are) : [Check what''s wrong]
	ul 
		each item in ip
			li #{ip}
	div.goToButton
		input(type="submit", value="Go to #{url}", onClick="location='http://#{ip[0]}'")
		form(name="proxyform", action="")
			input(type="checkbox", name="proxy", value="proxy")Use proxy