extends layout

block content
	p DNS list :

	each item in dnslist
			li= p= item.name 
				p= item.primaryIP
				p= item.secondaryIP
				p= item.isISP
				p= item.updatedAt

	//- div.title2
	//- 	a(href="/index")<font color="black">no</font><font color="red">IP</font><font color="black">asaran</font>	
	//- p This is a test page

	