extends layout

block specific-css
	!= css('adminservers')

block content
		.row
			.span12
				table#servers-table.table.table-bordered.table-hover.table-condensed
					thead
						th ID
						th Name
						th Primary IP
						th Secondary IP
						th Country
						th ISP ?
						th Active
						th Edit
						th Delete
					tbody
						each item in servers
							tr
								td= item.dns_server_id
								td= item.name
								td= item.primary_ip
								td= item.secondary_ip
								td= item.location
								td 
									if item.is_isp == 1
										p ISP
									else
										p -
								td 
									.btn-group(data-toggle="buttons-radio")
										button.btn.btn-small.off(data-server-id=item.dns_server_id, class=item.valid==0?"active btn-danger":"") OFF
										button.btn.btn-small.on(data-server-id=item.dns_server_id, class=item.valid==1?"active btn-success":"") ON
								td
									button.btn.btn-warning.edit(href="#", data-server-id=item.dns_server_id) Edit
								td
									button.btn.btn-danger.delete(href="#", data-server-id=item.dns_server_id) Delete
		// edit modal
		#edit-modal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="editModal", aria-hidden="true")
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-hidden="true") x
				h3 Modify server
			.modal-body
			.modal-footer
				button#submitform.btn.btn-primary(form="editform", type="submit") Save
				button.btn(data-dismiss="modal", aria-hidden="true") Cancel
block specific-js
	script(src="/js/jquery.dataTables.min.js")
	!= js('adminservers')
