extends layout

block specific-css
	!= css('adminservers')

block content
		.row
			.span12
				table#servers-table.table.table-bordered.table-striped.table-hover.table-condensed
					thead
						th ID
						th Name
						th Primary IP
						th Secondary IP
						th Country
						th ISP ?
						th Validate
						th Edit
						th Delete
					tbody
						each item in servers
							tr
								td= item.dns_server_id
								td= item.name
								td= item.primary_ip
								td= item.secondary_ip
								td= item.location
								td 
									if item.is_isp == 1
										i.icon-ok
									else
										i.icon-remove
								if item.valid == 0
									td
										button.btn.btn-inverse.validate(href="#", data-server-id=item.dns_server_id, data-toggle="button") 
											i.icon-ok-sign.icon-white
											|  Add
								else
									td
										button.btn.btn-success.validate.active(href="#", data-server-id=item.dns_server_id, data-toggle="button") 
											i.icon-ok-sign.icon-white
											|  Add
								td
									button.btn.btn-warning.edit(href="#", data-server-id=item.dns_server_id)
										i.icon-plus-sign.icon-white 
										|  Edit
								td
									button.btn.btn-danger.delete(href="#", data-server-id=item.dns_server_id)
										i.icon-remove-sign.icon-white
										|  Delete
		// Modal
		#edit-modal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="editModal", aria-hidden="true")
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-hidden="true") x
				h3 Modify server
			.modal-body
			.modal-footer
				button#submitform.btn.btn-primary(form="editform", type="submit") Save
				button.btn(data-dismiss="modal", aria-hidden="true") Cancel
block specific-js
	!= js('adminservers')


