extends layout

block content
		.row
			.span12
				table.table.table-bordered.table-striped.table-hover
					thead
						th ID
						th Name
						th Primary IP
						th Secondary IP
						th Country
						th ISP ?
						unless !isTemp
							th Validate
						th Edit
						th Delete
					tbody
						each item in servers
							tr
								if isTemp
									td= item.dns_server_temp_id
								else
									td= item.dns_server_final_id
								td= item.name
								td= item.primary_ip
								td= item.secondary_ip
								td= item.location
								td 
									if item.is_isp == 1
										i.icon-ok
									else
										i.icon-remove
								if isTemp
									td
										button.btn.btn-success.validate(href="#", data-server-id=item.dns_server_temp_id) 
											i.icon-ok-sign.icon-white
											|  Add

								td
									if isTemp
										button.btn.btn-warning.edit-temp(href="#", data-server-id=item.dns_server_temp_id)
											i.icon-plus-sign.icon-white 
											|  Edit
									else
										button.btn.btn-warning.edit-final(href="#", data-server-id=item.dns_server_final_id)
											i.icon-plus-sign.icon-white 
											|  Edit
								td
									if isTemp
										button.btn.btn-danger.delete-temp(href="#", data-server-id=item.dns_server_temp_id)
											i.icon-remove-sign.icon-white
											|  Delete
									else
										button.btn.btn-danger.delete-final(href="#", data-server-id=item.dns_server_final_id)
											i.icon-remove-sign.icon-white
											|  Delete

	// Modal
	#edit-modal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="editModal", aria-hidden="true")
		.modal-header
			button.close(type="button", data-dismiss="modal", aria-hidden="true") x
			h3 Modify servers
		.modal-body
		.modal-footer
			button#submit.btn(type="submit") Save
			button.btn(data-dismiss="modal", aria-hidden="true") Cancel
block specific-js
	!= js('admin')
