extends layout

block specific-css
	!= css('adminsites')

block content
	.row
		.span12
			form(action="/admin/sites/clean", method="post")
				button#clean.btn.btn-danger(type="submit")
					i.fui-gear
					| Clean DB
			table#sites-table.table.table-bordered.table-hover.table-condensed
				thead
					th ID
					th URL
					th IP
					th Hash
					th 
					th 
				tbody
					each item in sites
						tr 
							td= item.site_id
							td= item.url
							td
								if item.ip && item.ip.length > 3
									select
										each ip in item.ip
											option= ip
								else if item.ip && item.ip.length > 0
									ul.unstyled
										each ip in item.ip
											li= ip
								else
									p No result
							td= item.hash
							td
								if item.haz_problem == 1
									i.fui-lock
								else
									i.fui-radio-unchecked
							td
								button.btn.btn-danger.delete(href="#", data-site-id=item.site_id)
									i.fui-cross
									| Delete
										
block specific-js
	script(src="/js/jquery.dataTables.min.js")
	!= js('adminsites')

