extends layout

block specific-css

block content
	div.container
		div.row
			div.span12
				table.table.table-bordered.table-striped.table-hover
					thead
						th Id
						th Name
						th Primary IP
						th Secondary IP
						th Country
						th ISP ?
						unless !isTemp
							th Validate
						th Edit
						th Delete
					tbody
						each item in servers
							tr
								if isTemp
									td= item.dns_server_temp_id
								else
									td= item.dns_server_final_id
								td= item.name
								td= item.primary_ip
								td= item.secondary_ip
								td= item.location
								td 
									if item.is_isp == 1
										i.icon-ok
									else
										i.icon-remove
								unless !isTemp
									td
										a.btn.btn-success(href="#"+item._id) 
											i.icon-ok-sign.icon-white
											| Add
								td
									a.btn.btn-warning(href="#"+item._id)
										i.icon-plus-sign.icon-white 
										| Edit
								td
									a.btn.btn-danger(href="#"+item._id)
										i.icon-remove-sign.icon-white
										| Delete

			block specific-js