extend layout

block specific-css
	!= css('ip')

block content
	.row
		.span8.offset2.text-centered
			h1.good= server.name 
			img#map.img-rounded(src="#{url}", alt="Server traject")
			br
	.row#details
		.span6.offset3.text-centered
			p.min This server is based in #{serverInfo.city}, #{serverInfo.country}
			p.min You are 
				span.good #{distance}
				span  km away from that server
	.row#info
		.span3.offset3.text-centered
			p.min Primary server
			p.min.good= server.primary_ip
		.span3.text-centered
			p.min Secondary server
			p.min.good= server.secondary_ip