extend layout

block content
	.row
		.span8.offset2
			img(src="#{url}", alt="Server traject")
			br
			p This server is own by #{server.name} and based in #{serverInfo.city}, #{serverInfo.country}
			p You are #{distance} km away from that server.