extend layout

block specific-css
	!= css('isp')

block content
	.row#result
		.span8.offset2
			if data.answer[0].valid == "ok"
				h1 #{data.site.url} is not blocked by #{data.answer[0].name}
			else if data.answer[0].valid == "fail"
				h1 #{data.site.url} is blocked by #{data.answer[0].name}
			else 
				h1 #{site.url} took too long to answer on #{data.answer[0].name}
	.row#details
		.span8.offset2
			h3 Details
			p #{data.site.url} should resolve as #{data.site.ip}
				if data.answer.length == 1
					p Your ISP is #{data.answer[0].name}
					if data.answer[0].primary_result.timeout 
						p Their primary server went timeout
					else
						p Their primary server #{data.answer[0].primary_ip} resolved as #{data.answer[0].primary_result.addresses} in #{data.answer[0].primary_result.time} ms.
					if data.answer[0].secondary_result.timeout
						p Their secondary server went timeout
					else
						p Their secondary server #{data.answer[0].secondary_ip} resolved as #{data.answer[0].secondary_result.addresses} in #{data.answer[0].secondary_result.time} ms.
				else
					p MAKE ELSE
		