extend layout

block specific-css
	!= css('url')

block content
	p The url is #{url}
	p The ip for this url is/are
		ul
			each i in ip
				li= i
	p The client IP is #{clientip}
	p The client country is #{country}
	table#servers-table.table.table-bordered.table-hover.table-condensed
		thead
			th Name
			th Primary server
			th Result
			th Timeout ?
			th Secondary server
			th Result
			th Timeout ?
		tbody
			each item in resultlocal
				tr(class=item.valid==true?'success':'error')
					td= item.name 
					td= item.primary_ip
					td
						if item.primary_result.addresses && item.primary_result.addresses.length > 0
							ul.unstyled
								each ip in item.primary_result.addresses
									li= ip
						else
							p No result
					td
						if item.primary_result.timeout
							i.icon-ok
						else
							i.icon-remove
					td= item.secondary_ip
					td
						if item.secondary_result.addresses && item.secondary_result.addresses.length > 0
							ul.unstyled
								each ip in item.secondary_result.addresses
									li= ip
						else
							p No result
					td
						if item.secondary_result.timeout
							i.icon-ok
						else
							i.icon-remove

block specific-js
	script(src="/js/jquery/jquery.dataTables.min.js")
	!= js('url')