extend layout

block content
	p The url is #{url}
	p The client IP is #{clientip}
	p The client country is #{country}
	table#servers-table.table.table-bordered.table-striped.table-hover.table-condensed
		thead
			th Name
			th Primary server
			th Primary result
			th Secondary server
			th Secondary result
		tbody
			each item in result
				tr
					td= item.name 
					td= item.primary_ip
					td
						ul.unstyled
							each ip in item.primary_resolve
								li= ip
					td= item.secondary_ip
					td
						ul.unstyled
							each ip in item.secondary_resolve
								li= ip
