extend layout

block specific-css
	!= css('url')

block content
	if resultlocal.length == 1
		if resultlocal[0].valid == "ok"
			h1 #{url} is not blocked by #{resultlocal[0].name}
		else if resultlocal[0].valid == "fail"
			h1 #{url} is blocked by #{resultlocal[0].name}
		else 
			h1 #{url} took too long to answer on #{resultlocal[0].name}
	button#show-modal.btn.btn-primary(href="#") Details

	// details modal
	#detail-modal.modal.hide.fade(tabindex="-1", role="dialog", aria-label="detailModal", aria-hidden="true")
		.modal-header
			h1 Details
			button.close(type="button", data-dismiss="modal", aria-hidden="true") x
		.modal-body
			ul.unstyled
				li Your IP looks like #{clientip} and it seems you are in #{country}
				li #{url} should resolve as #{ip}
				if resultlocal.length == 1
					li Your ISP is #{resultlocal[0].name}
					if resultlocal[0].primary_result.timeout 
						li Their primary server went timeout
					else
						li Their primary server #{resultlocal[0].primary_ip} resolved #{url} as #{resultlocal[0].primary_result.addresses} in #{resultlocal[0].primary_result.time} ms.
					if resultlocal[0].secondary_result.timeout
						li Their primary server went timeout
					else
						li Their primary server #{resultlocal[0].primary_ip} resolved #{url} as #{resultlocal[0].secondary_result.addresses} in #{resultlocal[0].secondary_result.time} ms.
				else
		.modal-footer
			button.btn(data-dismiss="modal", aria-hidden="true") Close

block specific-js
	!= js('url')